html, body {
    background-color: gray;
    height: 100%; /* Ensure the body and html cover the full viewport height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
  }
  
  .main {
    height: 100vh; /* Ensure it covers the full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Optional: Set text color for better readability */
  }
  h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
  }
  
  button {
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  